.home-container {
  background-image: url('./img/Workout7.jpg');
  min-height: 87vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // display: flex;
  // height: 660px;
}

.home-text {
  align-items: center;
  color: #23b1d0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px;
}
